<h1>Notification de suppression de compte</h1>

<p>Cher Administrateur,</p>

<p>L'utilisateur {{ full_name }} ({{ emailUser }}) a supprimé son compte.</p>

<p>Cet utilisateur avait {{ number_of_files }} fichiers stockés sur notre site.</p>

<p>Veuillez prendre les mesures administratives nécessaires, si nécessaire.</p>

<p>Cordialement,</p>
<p>L'équipe Saving Safe</p>