<h1>Suppression de votre compte avec succès</h1>

<p>Bonjour {{ full_name }},</p>

<p>Nous vous informons que votre compte a été supprimé avec succès.</p>

<p>Toutes vos données personnelles ont été effacées de notre base de données, conformément à notre politique de confidentialité.</p>

<p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>

<p>Cordialement,</p>
<p>L'équipe Saving Safe</p>