<h1>Bienvenue chez Saving Safe - Veuillez confirmer votre adresse e-mail</h1>

<p>
    Nous sommes ravis de vous compter parmi nous. Pour finaliser votre inscription, veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Cliquez ici pour confirmer votre adresse e-mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>Cordialement,</p>
<p>L'équipe de Saving Safe</p>