<h1>Confirmation de Paiement - Saving Safe</h1>

<p>Bonjour {{ userFullName }},</p>

<p>Nous sommes heureux de vous informer que votre paiement a été reçu avec succès.</p>

<p>Détails de l'achat:</p>
<ul>
    <li>Produit: 20 Go d'espace de stockage</li>
    <li>Prix: 20€</li>
</ul>

<p>Vous pouvez maintenant profiter de votre nouvel espace de stockage.</p>

<p>Si vous avez des questions ou rencontrez des problèmes, n'hésitez pas à nous contacter.</p>

<p>Cordialement,</p>
<p>L'équipe Saving Safe</p>
